@keyframes highlight {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        background: revert;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        background-color: oklch(0.769 0.188 70.08);
    }
}

.animate-highlight::after {
    content: '';
    left: 0;
    display: block;
    position: absolute;
    inset: -3px;
    border-radius: var(--radius-sm);
    opacity: 40%;
    animation-name: highlight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
